# Virtual Environment
.venv/

# Python Bytecode and Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Editor/IDE Configuration
.vscode/

# Logs and Runtime Files
*.log
*.temp
